@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@media (min-width: 600px) {
  #slideout {
    position: fixed;
    z-index: 100;
    overflow-y: auto;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  #slideout.off {
    right: -420px;
  }

  #slideout-button {
    position: fixed;
    top: 45%;
    right: 385px;
    z-index: 200;
    transform: rotate(180deg);
    -webkit-transition-duration: 0.28s;
    -moz-transition-duration: 0.28s;
    -o-transition-duration: 0.28s;
    transition-duration: 0.28s;
  }

  #slideout-button.off {
    right: -5px;
    transform: rotate(0);
  }
}

@media (max-width: 600px) {
  #slideout {
    position: fixed;
    z-index: 100;
    overflow-y: auto;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 300px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  #slideout.off {
    bottom: -320px;
  }

  #slideout-button {
    position: fixed;
    bottom: 275px;
    right: 50%;
    z-index: 200;
    transform: rotate(-90deg);
    -webkit-transition-duration: 0.28s;
    -moz-transition-duration: 0.28s;
    -o-transition-duration: 0.28s;
    transition-duration: 0.28s;
  }

  #slideout-button.off {
    bottom: -15px;
    transform: rotate(90deg);
  }
}
