@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@media (min-width: 768px) {
  #slideout.off {
    right: -420px;
  }

  #slideout-button.off {
    right: -10px;
    transform: rotate(0);
  }
}

@media (max-width: 768px) {
  #slideout.off {
    bottom: -320px;
  }

  #slideout-button.off {
    bottom: -15px;
    transform: rotate(90deg);
  }
}
